*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: rgb(165, 14, 14);
    font-family: 'Righteous', cursive;
}
.logo{
    color: white;
    font-size: 35px;
    text-transform: uppercase;
    letter-spacing: 5px;
}
.nav-links {
    display: flex;
    justify-content: space-around;
    width: 40%;
    list-style: none;
}
.nav-links a{
    color: white;
    text-decoration: none;
    letter-spacing: 2px;
    padding: 7px;
    border-radius: 10px;
}
.nav-links a:hover{
    background-color: #fff;
    color: black;
}
.burger{
    display: none;
    cursor: pointer;
}
.burger div {
    width: 30px;
    height: 4px;
    background-color: white;
    margin: 5px;
    transition: all 0.3s ease;
}

/* hero section */
.hero-image{
    position: relative;
    height: 500px;
    overflow: hidden;
    background: url(/img/hero.png) no-repeat center;
    background-size: cover;
    border-bottom: 10px solid tomato;
    z-index: -1;
}
.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    overflow: hidden;
    text-align: center;
    color: white;
    font-weight: 700;
    text-transform: uppercase;
}
.container h1 {
    font-size: 42px;
    letter-spacing: 0.2em;
    margin: 0;
    background-color: rgb(165, 14, 14, 0.7);
}
.des{
    color: black;
    margin: 20px;
    display: block;
    font-size: 26px;
    background-color: rgba(255, 255, 255, 0.377);
}

/* section rentals */
.rentals-title{
    display: flex;
    align-items: center;
    
}
.rentals-title h2{
    font-size: 30px;
    color: #fff;
    align-self: center;
    background-color: rgba(201, 37, 37, 0.747);
    margin-left: 40%;
}
.rentals{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.rentals-house{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: auto;
    border-radius: 4px;
    background-color: rgb(252, 250, 250);
    margin: 20px;
    padding: 20px;
    transition: .3s;
}
.rentals-img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 300px;
    border: 6px solid #ddd;
    border-radius: 50%;
    margin-bottom: 10px;
    padding: 20px;
    background-size: cover;
    background-position: center center;
}
.rentals-house:nth-child(1) .rentals-img{
    background-image: url(/img/house1.png);
}
.rentals-house:nth-child(2) .rentals-img{
    background-image: url(/img/house2.png);
}
.rentals-house:nth-child(3) .rentals-img{
    background-image: url(/img/house3.png);
}



/* end section rentals */

/* FOOTER */

.footer{
    background-color: #222;
    color: #fff;
    position: relative;
    height: 300px;
}
.footer .footer-content{
    height: 250px;
    display: flex;
}
.footer .footer-content .footer-section {
    flex: 1;
    padding: 25px;
}

.footer .footer-content h1, .footer .footer-content h2{
    color: white;
}
.footer .footer-content .about h1 span {
    color: rgb(19, 224, 231);
}
.footer .footer-content .about .contact span {
   display: block;
   font-size: 1.2em;
   margin-bottom: 8px;
}
.footer .footer-content .about .socials a {
    border: 1px solid gray;
    width: 45px;
    height: 41px;
    padding-top: 5px;
    margin-right: 5px;
    text-align: center;
    display: inline-block;
    font-size: 1.3em;
    border-radius: 5px;
}
.footer .footer-content .about .socials a:hover {
    background-color: #fff;
}
.footer .footer-content .links ul a{
    display: block;
    padding: 5px;
    margin-bottom: 5px;
    font-size: 1.0em;
    color: white;
    text-decoration: none;
}
.footer .footer-content .links ul a:hover{
   margin-left: 10px;
   transition: all .3s;
}


.footer .footer-botton{
    background: #343a40;
    color: #686868;
    height: 50px;
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0px;
    left: 0px;
    padding-top: 20px;
}

.footer .footer-content .contact-form .contact-input {
    background-color: #272727;
    color: #bebdbd;
    margin-bottom: 5px;
    line-height: 1.5rem;
    padding: .9rem 1.4rem;
}
.btn-big{
    width: 50%;
    height: 30px;
    color: white;
   background-color: #555;
}


/* END FOOTER */

@media screen and (max-width:1024px){
    .nav-links{
        width: 60%;
    }
}


@media screen and (max-width:768px){
    body{
        overflow-x: hidden;
    }
    .nav-links{
        position: absolute;
        right: 0;
        height: 92vh;
        top: 8vh;
        background-color: rgb(165, 14, 14);
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 40%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    .nav-links li{
        opacity: 1;
    }
    .burger{
        display: block;
    }
    .container h1{
        font-size: 32px;
    }
}

.nav-active{
    transform: translateX(0%);
}

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1{
    transform: rotate(-45deg) translate(-5px,8px);
}
.toggle .line2{
    opacity: 0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px,-8px);

}